body{
    height: 100%;
   
}
.home{   
    background: rgb(238,174,202);
    background: linear-gradient(90deg, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    /* background-image: url("/bg4.png"); */

}
h1{
    font: 800 5rem "Inter",sans-serif;
    color: rgb(253, 41, 161);
    width: min-content;
    
    text-shadow: 2px 5px 5px rgba(11, 11, 11, 0.916);
}
h2{
    font: 800 3.5rem "Inter",sans-serif;

    text-shadow:1px 4px 5px #000000;
color: #fff;
}
h3{
    width: max-content;
    font-size: 25px;
    color: #232323;
    border-radius: 7px;
    letter-spacing: 4px;
    font-weight: 700;
    text-transform: uppercase;
    padding:10px 20px;
}
p{
    font: 400 1.2rem "poppins",sans-serif;
}
.text-content li{
    font: 400 1.2rem "Poppins",sans-serif;
    margin-left: 20px;
}

a{
    text-decoration: none;
}
svg{
    font-size: 28px;
}
.shadow__btn {
    padding: 10px 20px;
    border: none;
    font-size: 17px;
    color: #fff;
    border-radius: 7px;
    letter-spacing: 4px;
    font-weight: 700;
    text-transform: uppercase;
    transition: 0.5s;
    transition-property: box-shadow;
  }
  
  .shadow__btn {
    background: rgb(0, 0, 0);
  }
  
  .shadow__btn:hover {
    box-shadow: 0 0 5px rgb(0, 0, 0),
                0 0 25px rgb(0,140,255),
                0 0 50px rgb(0,140,255),
                0 0 100px rgb(0,140,255);
  }
  .fixButton{
    display: flex;
    position: fixed;
    z-index: 99;
  }


  .zoom-in-out-box {
    margin: 24px;

    animation: zoom-in-zoom-out 2s ease infinite;
  }
  
  @keyframes zoom-in-zoom-out {
    0% {
      transform: scale(1, 1);
    }
    50% {
      transform: scale(1.5, 1.5);
    }
    100% {
      transform: scale(1, 1);
    }
  }

